# COR1009 3월 27일

In [15]:
import numpy as np

In [43]:
name_list = [ '난디타', '샤론', '김예진', '김규리', '안예현', '유영서', '이상민', '이채은', '정어진', '이준하']
np.random.choice(['a', 'b'])

'a'

In [18]:
print(name)

['난디타', '샤론', '김예진', '김규리', '안예현', '유영서', '이상민', '이채은', '정어진', '이준하']

In [25]:
name[0], name[-3]

('난디타', '이채은')

In [26]:
name[0:3]

['난디타', '샤론', '김예진']

In [28]:
name[3:7]

['김규리', '안예현', '유영서', '이상민']

In [41]:
selected = np.random.choice(name)

selected

'이준하'

In [11]:
print("3" < "4") # operator overloading?

True

In [12]:
print("3" < "10")

False

In [13]:
1 + 2

3

In [14]:
"111" + "222"

'111222'

4332221111 is a prime!

Prime number : 소수 n, n is prime == n {1, n}
2, 3, 5, 7, 11, ...

In [42]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
for name in name_list:
    print(name, 'hello')

난디타 hello
샤론 hello
김예진 hello
김규리 hello
안예현 hello
유영서 hello
이상민 hello
이채은 hello
정어진 hello
이준하 hello

In [48]:
for i in range(10):
    print(i, name_list[i], 'good day!')

0 난디타 good day!
1 샤론 good day!
2 김예진 good day!
3 김규리 good day!
4 안예현 good day!
5 유영서 good day!
6 이상민 good day!
7 이채은 good day!
8 정어진 good day!
9 이준하 good day!

In [49]:
for i in range( len(name_list) ):
    print(i, name_list[i], ' hello ')

0 난디타  hello
1 샤론  hello
2 김예진  hello
3 김규리  hello
4 안예현  hello
5 유영서  hello
6 이상민  hello
7 이채은  hello
8 정어진  hello
9 이준하  hello

In [50]:
for n in ['trump', 'king']:
    print(n)

trump
king

In [52]:
for i, name in enumerate(name_list):
    print(i, name)

0 난디타
1 샤론
2 김예진
3 김규리
4 안예현
5 유영서
6 이상민
7 이채은
8 정어진
9 이준하

In [54]:
for i, n in enumerate(['trump', 'king']):
    print(i, n)

0 trump
1 king

In [55]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [60]:
for i in range(5):
    print(i, end=': ')
    for j in range(4):
        print(j,  end=', ')
    print()

0: 0, 1, 2, 3,
1: 0, 1, 2, 3,
2: 0, 1, 2, 3,
3: 0, 1, 2, 3,
4: 0, 1, 2, 3,

In [61]:
a = 0
for i in range(10):
    a = a + 1
    for j in range(10):
        a = a + 1
print(a)

110

2 raised to the power of 32 = 2의 32제곱 = 2의 32승

In [63]:
2**0

1

In [64]:
done = False
while not done:
    quit = input("Do you want to quit? ")
    if quit == "y":
        done = True
 
    attack = input("Does your elf attack the dragon? ")
    if attack == "y":
        print("Bad choice, you died.")
        done = True

Do you want to quit?  n
Does your elf attack the dragon?  n
Do you want to quit?  y
Does your elf attack the dragon?  n

1. Write a Python program that will use a for loop to print your name 10 times, and then the word ``Done'' at the end.

In [65]:
for i in range(10):
    print("your name")
print('Done')

your name
your name
your name
your name
your name
your name
your name
your name
your name
your name
Done

2. Write a Python program that will use a for loop to print ``Red'' and then ``Gold'' 20 times. (Red Gold Red Gold Red Gold... all on separate lines. Don't use \n.)